header {
	position: relative;
	margin-bottom: 600px;
}

// h1 {
// 	font-size: 55px;
// 	width: 20%;
// 	text-align: center;
// 	letter-spacing: 3px;
// 	color: #000000;
// 	line-height: 1;
// }

// h2.title {
// 	font-weight: 300;
// 	letter-spacing: 5px;
// 	font-size: 14px;	
// 	margin: 0;
// 	position: absolute;
// 	top: 117px;
// }

// header img {
// 	width: 25px;
// 	position: absolute;
// 	top: 150px;
// 	left: 225px;
// }

// header h2.hello {
// 	font-size: 200px;
// 	text-align: center;
// 	color: $lightGold;
// 	position: absolute;
// 	left: 320px;
// 	top: 65px;
// 	letter-spacing: 10px;
// 	font-weight: 700;
// }


// .links {
// 	width: 20%;
// 	position: absolute;
// 	top: 500px;
// 	right: 220px;
// 	letter-spacing: 1px;
// 	font-weight: 300;
// }

// logo

.logo {
	display: flex;
	flex-direction: column;
	text-align: center;
	letter-spacing: 2px;
	img {
		width: 30px;
		margin: 0 auto;
		margin-top: 15px;
	}
	h2 {
		font-size: 14px;
		font-weight: 300;
		margin: 0;
	}
	h1 {
		margin: 0;
		color: black;
	}
	span {
		font-size: 45px;
	}
	span.jen {
		font-size: 40px;
	}
}

// // top nav styles
ul.menu {
	margin: 0;
	padding: 0;
	.menu-item {
		background: black;
		display: inline;
		text-transform: uppercase;
		font-weight: 400;
		letter-spacing: 1;
		width: 50%;
		padding: 5px 30px;
	}
}

.menu a {
	color: white;
}

header {
	margin-top: 30px;
}



