
// logo

.logo {
	display: flex;
	flex-direction: column;
	text-align: center;
	letter-spacing: 2px;
	img {
		width: 30px;
		margin: 0 auto;
		margin-top: 15px;
	}
	h2 {
		font-size: 14px;
		font-weight: 300;
		margin: 0;
	}
	h1 {
		margin: 0;
		color: black;
	}
	span {
		font-size: 45px;
	}
	span.jen {
		font-size: 40px;
	}
}

// // top nav styles
ul.menu {
	margin: 0;
	padding: 0;
	.menu-item {
		background: black;
		display: inline;
		text-transform: uppercase;
		font-weight: 400;
		letter-spacing: 1;
		width: 50%;
		padding: 5px 30px;
	}
}

.menu a {
	color: white;
	font-weight: 700;
	letter-spacing: 2px;
}

header {
	margin-top: 30px;
	margin-bottom: 100px;
}
// end of top bar

// start hello feature

.positionDiv {
	position: relative;
}

.hello {
	position: absolute;
	left: 169px;
	top: -50px;
	// border: 2px solid $lightGold;
}

.hello h2{
	font-size: 250px;
	text-align: center;
	color: $lightGold;
	letter-spacing: 10px;
	font-weight: 700;
	margin: 0;
}

.aboutP {
	font-size: 20px;
	width: 70%;
	position: relative;
	left: 365px;
	top: 60px;
	font-weight: 600;
	span {
		font-weight: 800;
	}
}

.links {
	position: relative;
	font-weight: 300;
	font-size: 20px;
	border: 3px solid #333;
	width: 25%;
	padding: 20px;
	padding-left: 50px;
	bottom: -55px;
	left: 800px;
	margin: 0;
}


