
// logo

.logo {
	display: flex;
	flex-direction: column;
	text-align: center;
	letter-spacing: 2px;
	img {
		width: 30px;
		margin: 0 auto;
		margin-top: 15px;
	}
	h2 {
		font-size: 14px;
		font-weight: 300;
		margin: 0;
	}
	h1 {
		margin: 0;
		color: black;
	}
	span {
		font-size: 45px;
		@include bp(medium){
			font-size: 35px;
		}
	}
	span.jen {
		font-size: 40px;
		@include bp(medium){
			font-size: 30px;
		}
	}
}

// // top nav styles
ul.menu {
	margin: 0;
	padding: 0;
	.menu-item {
		// background: black;
		display: inline-block;
		text-transform: uppercase;
		font-weight: 400;
		letter-spacing: 1;
	}
}

.menu a {
	width: 100%;
	padding: 5px 30px;
	display: inline-block;
	background: black;
	color: white;
	letter-spacing: 2px;
	transition: all 0.4s;
	&:hover {
		color: $gold;
	}
}

header {
	padding-top: 30px;
	padding-bottom: 80px;
	// margin-bottom: 100px;
}
// end of top bar

// start hello feature

.positionDiv {
	position: relative;
}

.hello {
	position: absolute;
	left: 7%;
	top: 8%;
}

.hello h2{
	font-size: 25rem;
	text-align: center;
	color: $lightGold;
	border-bottom: 1.4rem solid $lightGold;
	letter-spacing: 10px;
	font-weight: 700;
	margin: 0;
	line-height: 1;
	@include bp(medium){
			font-size: 17rem;
		}
}

.aboutP {
	font-size: 2rem;
	width: 80%;
	line-height: 1.6;
	position: relative;
	left: 20%;
	top: -20px;
	font-weight: 400;
	span {
		font-weight: 800;
	}
}

.links {
	position: relative;
	font-size: 2rem;
	border: 5px solid #333;
	display: inline-block;
	padding: 15px 50px;
	bottom: 20px;
	width: 300px;
	left: calc(100% - 300px);
	margin: 0;
	a {
		font-weight: 400;
		width: 100%;
		display: inline-block;
		transition: all 0.4s;
		i {
			display: inline-block;
			width: 10%;
			text-align: center;
		}
	}
}


