//this is where all portfolio item styles go. 

section#portfolio.portfolio{
	position: relative;
	// display: flex;
	// flex-direction: column;
	padding-top: 50px;
	h2 {
		position: absolute;
		font-size: 70px;
		letter-spacing: 7px;
		margin: 0;
		top: 5px;
		left: 70px;
		z-index: 1000;
	}
}

// portfolio item layout

// feature post

.portfolioItem.item-0 {
	position: relative;
	margin-bottom: 200px;
}

.portfolioItem.item-0 img {
	width: 100%;
}

.portfolioItem.item-0 h3 {
	position: absolute;
	bottom: -32px;
	left: 350px;
	z-index: 100000;
	font-size: 50px;
	letter-spacing: 3px;
	margin: 0;
	width: 10%;
}

.portfolioItem.item-0 .postContent {
	width: 50%;
	border: 1px solid $grey;
	padding: 20px 300px 20px 50px;
	background: white;
	position: absolute;
	bottom: -110px;
	left: 20px;
}

// post two

.portfolioItem.item-1 {
	display: flex;
	position: relative;
	margin-bottom: 50px;
}

.portfolioItem.item-1 .img {
}

.portfolioItem.item-1 .postContent{
	width: 30%;
	border: 1px solid $grey;
	padding: 200px 20px 5px 20px;
	margin-left: 20px;
	margin-bottom: 0;
}

.portfolioItem.item-1 .postTitle{
	position: absolute;
	width: 20%;
	top: 30px;
	right: 55px;
	h3 {
		font-size: 50px;
		letter-spacing: 3px;
		margin: 0;
	}
}

// post three

.portfolioItem.item-2 {
	
}


// post four

.portfolioItem.item-3 {
	
}


