body {
	background: linear-gradient(#fff, #ccc, 10%);
}


//this is where all portfolio item styles go. 

//view live button

.viewLive {
	background: $gold;
	color: white;
	font-family: proxima-nova;
	text-transform: uppercase;
	letter-spacing: 2px;
	font-size: 1.9rem;
	padding: 10px 30px;
	display: inline-block;
	margin-top: 10px;
	transition: all 0.5s;
	&:hover {
		background: darken($gold, 10%);
		color: white;
	}
}



.postContent {
	line-height: 1.7;
	font-size: 1.7rem;
}

//general portfolio items

section#portfolio.portfolio{
	position: relative;
	// display: flex;
	// flex-direction: column;
	padding-top: 50px;
	h2 {
		position: absolute;
		font-size: 10rem;
		letter-spacing: 7px;
		margin: 0;
		top: 100px;
		right: 3%;
		z-index: 1000;
		background: rgba(255,255,255,0.9);
		border: 5px solid #333;
		padding: 0 20px;
	}
}

// portfolio item layout
.portfolioItem h3 {
	font-size: 5.5rem;
	letter-spacing: 3px;
	line-height: 1.2;
}
// feature post

.portfolioItem.item-0 {
	position: relative;
	margin-bottom: 150px;
	margin-top: 100px;
}

.portfolioItem.item-0 img {
	width: 100%;
	border: 5px solid #333;
}

// .portfolioItem.item-0 h3 {
// 	position: absolute;
// 	bottom: -32px;
// 	left: 26%;
// 	z-index: 100000;
// 	margin: 0;
// 	width: 10%;
// }

.portfolioItem.item-0 .postContent {
	width: 55%;
	border: 5px solid #333;
	padding: 31px 50px 41px 50px;
	background: rgba(255,255,255,0.9);
	position: absolute;
	bottom: -110px;
	left: 2%;
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	flex-flow: row wrap;
	align-items: center;
	.postTitle {
		order: 2;
		flex: 1 0 40%;
	}
	p {
		flex: 1 0 60%;
		a {
			display: inline-block;
			margin-top: 5px;
		}
	}
}



// post two

.portfolioItem.item-1 {
	display: flex;
	position: relative;
	margin: 300px 0;
	margin-bottom: 200px;
}

.portfolioItem.item-1 .image{
	max-width: 80%;
	img {
		border: 5px solid #333;
	}
}


.portfolioItem.item-1 .postContent{
	width: 35%;
	border: 1px solid $grey;
	padding: 50px 50px 50px 30px;
	border: 5px solid #333;
	background: rgba(255,255,255,0.9);
	position: absolute;
	right: 10px;
	top: 50px;
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	flex-flow: column wrap;
}

.portfolioItem.item-1 .postTitle{
	h3 {
		margin: 0;
		padding-top: 30px;
	}
}

// post three

.portfolioItem.item-2 {
	display: flex;
	margin-top: 0;
	position: relative;
}

.portfolioItem.item-2 .image {
	// order: 2;
	max-width: 70%;
	position: relative;
	img{
		border: 5px solid #333;
	}
}

.portfolioItem.item-2 .postContent {
	width: 35%;
	border: 1px solid $grey;
	padding: 50px;
	position: absolute;
	background: rgba(255,255,255,0.9);
	top: 75px;
	right: 0;
	margin-left: 15px;
	border: 5px solid #333;
	z-index: 999;
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	flex-flow: column wrap;
}

.portfolioItem.item-2 .postTitle {
		h3 {
		margin: 0;
	}
}

// post four

.portfolioItem.item-3 {
	display: flex;
	flex-direction: row-reverse;
	margin: 200px 0;
	position: relative;
}

.portfolioItem.item-3 .postTitle {
		h3 {
		margin: 0;
		// text-align: right;
	}
}

.portfolioItem.item-3 img {
	border: 5px solid #333;
	max-width: 100%;
	
}

.portfolioItem.item-3 .postContent {
	width: 38%;
	border: 5px solid #333;
	padding: 40px;
	margin-right: 10px;
	text-align: right;
	position: absolute;
	background: rgba(255,255,255,0.9);
	left: 0px;
	top: 50px;
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	flex-flow: column wrap;
}


